@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 10px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

.content {
  text-align: center;
  margin: auto; 
  /* They did flex: 1, display flex, align items center, justify content center and flex direction column which really only kicks in with diff */
}

.footer, .header, .right-links, .left-links {
  display: flex;
}

.right-links, .left-links {
  gap: 20px;
}

.right-links {
  margin-right: 0;
  margin-left: auto;
}
/* check if you need this duplication (for header/footer too) */

.footer {
  background-color: #eee;
}
/* need the header but not the left links */
/* don't need the header as well cause have the content centering! */

.footer, .header {
  padding: 18px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: rgb(84, 80, 80);
  font-size: 23px;
}